html{background-color: rgb(27, 27, 27); color: aliceblue;}

h1{
    font-size: 60px;
}

.vertical-center{
    margin-top: 130px;
    text-align: center;
    margin-bottom: 50px;

}
    
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.box{
    height: 150px;
    width: 150px;
    border-radius: 10%;
    border: 10px solid white;
}

#green{background-color: green; color: green;}
#red{background-color: red; color: red;}
#yellow{background-color: rgb(251, 255, 0); color: rgb(251, 255, 0);}
#blue{background-color: blue; color: blue;}



.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.fade{
    opacity: 0 ;
}

.fail{
    background-color: red;
}


.start-button{
    font-size: 23px;
    
}








/* <!-- HTML !-->
<button class="button-85" role="button">Button 85</button> */

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}